.main-profile {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.your-posts {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 5px;
}

.sideprofile {
  color: white;
  margin-left: 5px;
  width: 30%;
  height: fit-content;
}

.blog-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #1a1a1b;
  border: 1px solid #414040;
  border-radius: 5px;
}

.profileimage {
  border-radius: 50%;
}
.profilename {
  font-size: 20px;
  margin-top: 10px;
}
.otherinfo {
  margin-top: 20px;
  justify-content: center;
}
.otherinfo > p {
  font-size: 14px;
  margin: 10px 0px;
}
.otherinfo > p > span {
  font-size: 12px;
  background-color: #414040;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0px 0px 0px 5px;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.followingList{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #1a1a1b;
  border: 1px solid #414040;
  border-radius: 5px;
  height:400px;
}

.following{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

.following::-webkit-scrollbar {
  width: 2px;

}
 

 
.following::-webkit-scrollbar-thumb {
  background-color: #FF5700;
  outline: 1px solid #FF5700;
}

.displayFollowing{
  text-decoration: none;
  display: flex;
  width: 100%;
  height:50px;
  align-items: center;
  justify-content: start;
  background-color: #272729;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #272729;
  color:white;
  padding: 10px;
  margin: 5px 0px;
}

.followprofileimg{
  margin-right: 20px;
  border-radius: 50%;
  height:40px;
}

.showFollow {
  background-color: #FF5700;
  color: white;
  border: #FF5700 1px solid;
  padding: 5px 20px;
  font-family: "Poppins";
  font-size: 16px;
  border-radius: 8px;
  display: none;
}

.showFollow:hover {
  background-color: transparent;
  color: #FF5700;
}

@media only screen and (max-width: 960px) {
  .main-profile {
    width: 95%;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .sideprofile {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .your-posts {
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .followingList{
    display: none;
  }

  .following{
    height: inherit;
  }

  .showFollow {
    display: block;
  }

  .activef {
    display: flex;
    overflow:hidden;
    height: 200px;   
  }
}
