@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.commentInputtab{
  width: 100%;
  padding: 0px 10px;
}
.commentform{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  box-sizing: border-box;
}
.createComment {
  width: 100%;
  background-color: #272729;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Poppins';
  color: white;
  border: 1px solid #414040;
}

.commentSubmit {
  margin-top: 5px;
  background-color: #ff5700;
  color: white;
  border: #ff5700 1px solid;
  padding: 6px 20px;
  font-family: "Poppins";
  font-size: 16px;
  border-radius: 5px;
}

.commentSubmit:hover {
  background-color: transparent;
  color: #ff5700;
}

.comment {
  display: flex;
  padding: 0px 5px;
  justify-content: flex-start;
  align-items: center;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-menu{
    
}



.comment-userpic {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.comment-username {
  color: #ff5700;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}

.comment-timestamp {
  font-size: 12px;
}

.comment-userdetails {
  display: flex;
  justify-content: space-between;
}

.comment-tab {
    display: flex;
    flex-direction: column;
    background-color: #272729;
    padding: 5px 15px;
    border-radius: 8px;
    border:1px solid #272729;
  }

  .comment-text{
    font-family: 'Poppins', sans-serif;
      font-weight:200;
  }

  .sidebar {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: white;
    background-color: #1a1a1b;
    border: 1px solid #414040;
    border-radius: 5px;
  }
  .commentmenudiv{
    display: flex;
    align-items: center;
  }
  
  .comment-menu{
    font-size: 24px;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white; 
    border-radius: 50%;
}

.comment-menu:hover{
    color:#ff5700; 
    background-color: #272729;
}

.deleteicon:hover{
  color: crimson;
}

.replySection{
  margin-top: 10px;
}

.replyInputtab{
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.replyform{
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  box-sizing: border-box;
}

.createReply{
  width: 100%;
  background-color: #272729;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Poppins';
  color: white;
  border: 1px solid #414040;
}

.replySubmit {
  margin-top: 5px;
  background-color: #ff5700;
  color: white;
  border: #ff5700 1px solid;
  padding: 6px 20px;
  font-family: "Poppins";
  font-size: 16px;
  border-radius: 5px;
}

.replySubmit:hover {
  background-color: transparent;
  color: #ff5700;
}

.replys{
  display:flex;
  align-items: center;
  margin:10px 0px 10px 40px ;
}

.viewComments{
  max-height: 500px;
  box-sizing: border-box;
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

.viewComments::-webkit-scrollbar {
  width: 2px;

}
 

 
.viewComments::-webkit-scrollbar-thumb {
  background-color: #FF5700;
  outline: 1px solid #FF5700;
}